/* ---ШРИФТЫ-----  */
@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"),
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Open Sans";
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"),
        url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
}

/*-----ОБЩИЕ СТИЛИ----*/
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-weight: 300;
    font-family: "Gilroy", "Helvetica", sans-serif;
}

.allcontainer {
    width: 100%;
}

.container-center {
    margin: 0 auto;
    width: 1160px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

/*---header----*/
.main-header a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.header-logo {
    display: block;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 164px;
    height: 46px;
    font-weight: 900;
}

.main-header {
    padding: 1px 60px 43px;
    height: 180px;
    background-image: -webkit-linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
    background-image: -o-linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
    background-image: linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
}

.main-header ul {
    padding-left: 0;
    list-style: none;
}

.catalog {
    position: relative;
    display: block;
    padding-right: 18px;
    min-width: 230px;
}

.catalog::before,
.catalog::after {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -8px;
    width: 2px;
    height: 16px;
    background-color: rgba(0, 0, 0, 1);
    content: " ";
    opacity: 0.3;
}

.catalog::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.row-top,
.main-nav.navigation-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: baseline;
    width: 1040px;

    -webkit-box-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.row-top {
    padding-bottom: 4px;
}

.row-top ul {
    -ms-flex-pack: end;

    -webkit-box-pack: end;
    justify-content: flex-end;
}

.row-top a {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
}

.row-top img {
    margin-right: 10px;
}

.main-nav {
    position: relative;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    padding-right: 160px;
    width: 440px;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 40px;
    line-height: 30px;

    -webkit-box-align: center;
    align-items: center;
}

.search::before {
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background-image: url(../img/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.search-input {
    padding: 0 20px 8px 38px;
    border: none;
    border-width: 2px 0;
    border-radius: 0;
    background: none;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-family: inherit;
    line-height: 30px;
    line-height: 30px;
    opacity: 0.3;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.search-btn {
    margin-top: -15px;
    min-width: 81px;
    min-height: 46px;
    border: 2px solid rgba(0, 0, 0, 1);
    background: none;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
    opacity: 0;

    -ms-flex-item-align: end;
    align-self: flex-end;
}

.search-btn:hover {
    background: rgba(0, 0, 0, 1);
    color: rgba(233, 233, 233, 1);
}

.search-btn:active {
    background: rgba(0, 0, 0, 1);
    color: rgba(233, 233, 233, 0.3);
}

.search-input:hover {
    opacity: 0.6;
}

.search-input:focus {
    outline: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    opacity: 1;
}

.search-input:focus ~ .search-btn {
    opacity: 1;
}


.user-login {
    position: relative;
    width: 280px;
}

.user-login li,
.footer-nav .login,
.footer-nav .user,
.footer-nav .loginout {
    display: none;
}

.user-login li.active,
.footer-nav li.active {
    display: block;
}

.user-login .loginout,
.footer-nav .loginout {
    position: absolute;
}

.loginout.exit {
    top: 0;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.3;
}

.compare-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
}

.compare-basket li {
    -ms-flex-pack: end;

    -webkit-box-pack: end;
    justify-content: flex-end;
}

.compare-basket li:last-child {
    margin-left: 40px;
}

/*---row-bottom---*/
.navigation-list .catalog,
.navigation-list > ul:last-child {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 18px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
}

.nav-catalog-items {
    position: absolute;
    top: 40px;
    left: -60px;
    z-index: 1;
    display: none;
    padding-top: 15px;
    padding-left: 60px;
    width: 1100px;
    min-height: 160px;
    background-color: #f7e296;
}

.head-right {
    margin-right: -5px;
}


.catalog:hover ~ .nav-catalog-items,
.nav-catalog-items:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: baseline;

    -webkit-box-align: baseline;
    align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}

.main-header a:hover,
.footer-nav-service a:hover,
a.footer-logo:hover {
    opacity: 0.6;
}

.catalog:hover::before,
.catalog:hover::after {
    opacity: 0.5;
}

.catalog:active::before,
.catalog:active::after {
    opacity: 1;
}

.main-header a:active,
.footer-nav-service a:active,
a.footer-logo:active {
    opacity: 0.3;
}

.nav-catalog-items a {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 35px;
}

.row-bottom .catalog-items {
    margin-right: 40px;
    min-width: 160px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 35px;
}

.nav-delivery-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: inherit;
    width: 530px;

    -webkit-box-pack: inherit;
    justify-content: inherit;
}

.nav-delivery-items li {
    width: 150px;
    text-align: right;
}

.nav-delivery-items li:last-child {
    width: 230px;
}

/*------- no front-----*/
.head {
    display: block;
    padding-top: 5px;
    padding-left: 60px;
}

.title-page {
    margin-bottom: 19px;
    letter-spacing: 0.015em;
    font-weight: 900;
    font-size: 47px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 56px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px;
    padding: 0;
    list-style: none;
}

.breadcrumbs a,
.breadcrumbs li {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 24px;
}

.breadcrumbs a {
    position: relative;
    margin-right: 20px;
    padding-right: 15px;
    opacity: 0.3;
}

.breadcrumbs li:last-child {
    opacity: 0.3;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.breadcrumbs a::after {
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    width: 4px;
    height: 4px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-container-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.left-container,
.right-container {
    position: relative;
    padding-top: 10px;
}

.filters,
.head-sorting {
    min-height: 60px;
}

.line-head-filter {
    position: relative;
}

.line-head-filter::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.08);
    content: "";
}

.left-container::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 1000px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    content: "";
}

/*--Слайдер пробуем анимировать-*/
.main-slider {
    position: relative;
    margin-bottom: 45px;
    min-height: 550px;
    background-image: -webkit-linear-gradient(#f7e296 120px, #fff 120px, #fff);
    background-image: -o-linear-gradient(#f7e296 120px, #fff 120px, #fff);
    background-image: linear-gradient(#f7e296 120px, #fff 120px, #fff);
}

.main-slider > input {
    display: none;
}

.main-slider-items {
    margin: 0;
    padding: 0;
}

.main-slider-item {
    z-index: 0;
    display: none;
}

.slideleft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 60px;
    width: 535px;
}

.slideleft img {
    margin: auto;
    padding-right: 85px;
}

.slideright {
    -ms-flex-align: end;
    margin-right: 5px;
    width: 520px;

    -webkit-box-align: end;
    align-items: flex-end;
}

.numeric {
    position: relative;
    margin-left: 5px;
    padding-top: 83px;
}

.numeric::before {
    position: absolute;
    top: 40px;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
    content: " ";
}

.numeric span {
    position: absolute;
    top: -10px;
    right: -5px;
    z-index: 0;
    display: block;
    color: #ffffff;
    letter-spacing: 0.01em;
    font-weight: 900;
    font-size: 179.2px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 179.2px;
}

.slideright b {
    position: relative;
    display: block;
    margin-bottom: 19px;
    padding-left: 5px;
    width: 399px;
    letter-spacing: 0.01em;
    font-weight: 900;
    font-size: 47px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 56px;
}

.slide3 b {
    width: 510px;
}

.slideright p {
    margin-bottom: 25px;
    padding-left: 5px;
    min-height: 77px;
    color: rgba(70, 70, 70, 1);
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
}

.slide1 p {
    width: 500px;
}

.slide2 p {
    width: 460px;
}

b.small-width {
    width: 250px;
}

.main-slider .controls {
    position: absolute;
    right: 82px;
    bottom: 210px;
    z-index: 10;
}

.main-slider label {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 1px -3px 16px;
    width: 12px;
    height: 12px;
    background: url(../img/slider-button-empty.svg);
    background-origin: content-box;
    background-size: contain;
    font-size: 0;
    cursor: pointer;
}

/*-- Кнопка .btn--*/
.btn {
    position: relative;
    z-index: 0;
    display: block;
    border: 0;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 18px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 40px;
    cursor: pointer;
}

.btn::before {
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 10px;
    background-color: #f0c52e;
    content: "";

    -ms-flex-line-pack: center;
    align-content: center;
}

.btn:active {
    color: #be9c22
}

.btn:hover::before,
.btn:active::before {
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 30%;
}

.filter-btn {
    margin-top: 20px;
    width: 200px;
    background: none;
}

.filter-btn::before {
    top: 15px;
}

.main-slider .btn {
    margin-left: 5px;
    width: 220px;
}

.main-slider .btn:hover::before,
.main-slider .btn:active::before,
.btn-main-contact:hover::before,
.btn-main-contact:active::before,
.btn-main-about:hover::before,
.btn-main-about:active::before {
    top: 50%;
    margin-top: -20px;
    height: 40px;
}

/*-----таблица---*/
.specifications {
    margin-top: 47px;
    width: 100%;
    border: none;
}

.specific-digits {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 36px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 48px;
}

.specific-digits td {
    padding-left: 5px;
    width: 93px;
    text-align: left;
}

.specific-info td {
    padding-top: 5px;
    padding-left: 5px;
    font-weight: 300;
    font-size: 13px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 20px;
}

.specific-digits td:nth-child(2) {
    width: 80px;
}

/*----------Популярные товары---*/
.popular-goods {
    position: relative;
    display: block;
    margin-bottom: 40px;
    min-height: 250px;
}

.popular-goods-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    padding: 0;
    list-style: none;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.popular-goods-item {
    position: relative;
    width: 160px;
}

.bg-item {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 160px;
    height: 160px;
    background: rgba(240, 197, 46, 0.5);
}

.popular-goods-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 900;
    font-size: 18px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.popular-icon.monopod ~ p {
    width: 120px;
}

.popular-goods .popular-icon {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}

.popular-goods .popular-icon::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.popular-icon.virtual::after {
    background-image: url(../img/popular-1.svg);
}

.popular-icon.monopod::after {
    top: 20px;
    background-image: url(../img/popular-2.svg);
}

.popular-icon.camers::after {
    background-image: url(../img/popular-3.svg);
}

.popular-icon.fitness-bracelet::after {
    background-image: url(../img/popular-4.svg);
}

.popular-icon.smart-watch::after {
    background-image: url(../img/popular-5.svg);
}

.popular-icon.quadrupter::after {
    background-image: url(../img/popular-6.svg);
}

.link-goods:hover .popular-icon {
    background: rgba(240, 197, 46, 1);
}

.link-goods:active .popular-icon::after,
.link-goods:active > p {
    opacity: 0.3;
}

/*-- слайдер услуг--*/
.service-container-allweight {
    position: relative;
    left: 0;
    margin-bottom: 105px;
    min-width: 1200px;
    min-height: 400px;
    width: 100%;
}

.main-services {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 1160px;
}

.service-container-allweight::after {
    position: absolute;
    top: 120px;
    bottom: -10px;
    z-index: -1;
    width: 100%;
    background-color: rgba(229, 229, 229, 1);
    content: "";
}

.main-services > input {
    display: none;
}

.services-items-listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: baseline;
    margin-top: 25px;
    margin-right: 77px;
    padding-top: 79px;
    min-height: 240px;
    width: 278px;
    border-right: 7px solid black;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.services-items-listing label {
    position: relative;
    margin-bottom: 25px;
    min-height: 40px;
    width: 280px;
    cursor: pointer;
}

.services-item-info {
    display: none;
}

.main-services .controls {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 10;
}

.services-item-info h3 {
    letter-spacing: 0.02em;
    font-weight: 900;
    font-size: 47px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 48px;
}

.services-items-info {
    padding-top: 34px;
}

.services-item-info::after {
    position: absolute;
    top: 85px;
    right: 30px;
    width: 210px;
    height: 210px;
    content: "";
}

.service-delivery::after {
    background-image: url(../img/delivery.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.service-gaurante::after {
    background-image: url(../img/warranty.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.service-credit::after {
    background-image: url(../img/credit.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.btn-service span {
    position: relative;
    z-index: 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    width: 166px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 18px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
}

.btn-service span::before {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 10px;
    background-color: #f0c52e;
    content: " ";
}

.btn-service:hover span::before,
.btn-service:active span::before {
    top: -8px;
    bottom: 0;
    z-index: -1;
    min-height: 40px;
    width: 100%;
    height: 100%;
}

.services-items-listing .active {
    background: #000000;
}

.active span {
    color: rgba(247, 225, 132, 1);
}

.active span::before {
    background: none
}

.add-to-cart {
    width: 200px;
    text-align: center;
}

.add-to-cart:hover::before {
    top: 0;
    height: 40px;
}

/*---------- partners--*/
.partner-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin-bottom: 94px;
    padding-left: 0;
    list-style: none;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.partner-items li {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.partner-item a {
    display: block;
    width: 260px;
    height: 100px;
}

.partner-dji a {
    background-image: url(../img/logo1-dji.jpg);
}

.partner-spg a {
    background-image: url(../img/logo2-spgadget.jpg);
}

.partner-gopro a {
    background-image: url(../img/logo3-gopro.jpg);
}

.partner-vive a {
    background-image: url(../img/logo4-vive.jpg);
}

.partner-item img {
    opacity: 0;
}

.partner-item:hover img {
    opacity: 1;
    /*transition: 0.3s;*/
}

/*---------about-contact-----*/
.about-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.about-contact section::before {
    display: block;
    margin-bottom: 45px;
    width: 80px;
    height: 7px;
    background: rgba(0, 0, 0, 1);
    content: "";
}

.about-contact section {
    width: 562px;
}

.about-contact h2 {
    padding-bottom: 4px;
    letter-spacing: 0.01em;
    font-weight: 900;
    font-size: 47px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 48px;
}

.about-contact p,
.services-item-info p {
    color: rgba(70, 70, 70, 1);
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
}

.services-item-info p {
    margin-top: -16px;
    width: 460px;
    letter-spacing: normal;
}

.main-about {
    margin-right: 40px;
}

.main-about p {
    margin-bottom: 30px;
    width: 495px;
}

.main-about ul {
    margin-top: 65px;
    margin-bottom: 55px;
    padding: 0;
    list-style: none;
}

.main-about li::before {
    position: relative;
    display: block;
    float: left;
    margin-top: 15px;
    margin-right: 25px;
    width: 5px;
    height: 5px;
    border: 3px solid #e5e5e5;
    border-radius: 50%;
    content: " ";
}

.main-about li {
    letter-spacing: 0.01em;
    font-weight: 900;
    font-size: 16px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 40px;
}

.maps-contact {
    display: block;
    margin-top: 40px;
    margin-bottom: 63px;
    min-height: 222px;
    width: 560px;
    background-color: rgba(234, 234, 234, 1);
}

.btn-main-contact,
.btn-main-about {
    margin-bottom: 81px;
    width: 265px;
}

.btn-main-contact::before,
.btn-main-about::before {
    top: 17px;
}

.filter-btn:hover::before {
    top: 0;
    min-height: 40px;
}

/* --Каталог товаров и фильтр---*/
.left-container {
    padding-right: 68px;
    padding-left: 60px;
    width: 200px;
}

.filters fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
    padding: 0;
    padding-bottom: 9px;
    border: none;
    border-bottom: 2px solid #000000;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

p.filters,
p.sorting-title {
    margin-bottom: 54px;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    font-weight: 900;
    font-size: 16px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 18px;
}

form.filters {
    border-top: 2px solid #000000;
}

/* for EDGE*/
.filter-color span,
.filter-bluetooth span {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}


.filter-color span:last-child {
    padding-bottom: 20px;
}

.left-container legend {
    margin-bottom: 20px;
    padding-top: 10px;
    letter-spacing: 0.01em;
    font-weight: 900;
    font-size: 18px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
}

.filter-price {
    position: relative;
    padding-top: 15px;
    width: 100%;
    height: 60px;
}

.filter-price::before {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 2px;
    background-color: rgba(219, 219, 219, 1);
    content: "";
}

.filter-price-line {
    position: relative;
    padding-bottom: 27px;
    width: 115px;
}

.filter-price-green-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #91c92f;
}

.filter-price-point {
    position: absolute;
    width: 20px;
    height: 22px;
    background-image: url(../img/filter-button.svg);
    background-position: center;
    cursor: pointer;
}

.filter-price-point:active {
    width: 22px;
    height: 24px;
    background-image: url(../img/filter-button-active.svg);
}

.filter-price-point.point-left {
    top: -10px;
    left: -5px;
}

.filter-price-point.point-left:active {
    top: -11px;
    left: -6px;
}

.filter-price-point.point-right {
    top: -10px;
    right: -13px;
}

.filter-price-point.point-right:active {
    top: -11px;
    right: -14px;
}


.filter-price-point-title {
    opacity: 0.2;
}

.filter-price-point-title.point-left {
    top: 13px;
    left: 0px;
}

.filter-price-point-title.point-right {
    top: 13px;
    right: -29px;
}

.filter-price-point-title {
    position: absolute;
}

.filter-color label,
.filter-bluetooth label {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 40px;
}

.filter-color label::before,
input[type="checkbox"]:checked:active ~ label::before {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 27px;
    height: 40px;
    background: url(../img/checkbox-off.svg) no-repeat 0px 6px;
    content: "";
}

.filter-color label:hover::before,
.filter-color label:hover,
.filter-bluetooth label:hover::before,
.filter-bluetooth label:hover {
    opacity: 0.6;
}

.filter-color label:active,
.filter-bluetooth label:active,
.filter-color label:active::before,
.filter-bluetooth label:active::before {
    opacity: 1;
}

input:disabled ~ label,
input:disabled ~ label::before {
    opacity: 0.25;
}

input[type="checkbox"]:checked ~ label::before,
input[type="checkbox"]:not(:checked):active ~ label::before {
    background: url(../img/checkbox-on.svg) no-repeat 0px 6px;
    background-repeat: no-repeat;
}

.filter-bluetooth label::before,
input[type="radio"]:checked:active ~ label::before {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 27px;
    height: 40px;
    background: url(../img/radio-off.svg) no-repeat 0px 5px;
    content: "";
}

input[type="radio"]:checked ~ label::before,
input[type="radio"]:not(:checked):active ~ label::before {
    background: url(../img/radio-on.svg) no-repeat 0px 5px;
    background-repeat: no-repeat;
}

.right-container {
    margin-left: 73px;
    width: 760px;
}

.head-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin-bottom: 10px;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.how-to-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 500px;
    list-style: none;
}

.how-to-sort li {
    padding: 0;
    padding-right: 24px;
    min-width: 60px;
}

.how-to-sort a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 18px;
    opacity: 0.3;
}

.how-to-sort a:hover {
    opacity: 0.6;
}

a.active-sort,
.how-to-sort a:active {
    opacity: 1;
}

.up-sort {
    display: block;
    width: 11px;
    height: 10px;
    background-image: url(../img/icon-up-dir.svg);
    font-size: 0;
    opacity: 0.2;
}

.down-sort {
    display: block;
    width: 11px;
    height: 10px;
    background-image: url(../img/icon-down-dir.svg);
    font-size: 0;
    opacity: 0.2;
}

.up-sort:hover,
.down-sort:hover {
    opacity: 0.4;
}

.sorting-title {
    width: 200px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 16px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
}

.up-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    padding: 0;
    padding-top: 5px;
    padding-left: 18px;
    width: 42px;
    list-style: none;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.up-down li {
    width: 12px;
}

.product-items {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    width: 760px;
    list-style: none;

    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.product-item {
    position: relative;
    margin-top: 30px;
    width: 360px;
}

.product-item a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    text-decoration: none;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.image-product {
    overflow: hidden;
    margin-bottom: 14px;
    width: 360px;
    height: 380px;
}

.title-product {
    width: 280px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 900;
    font-size: 18px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
}

.small-width {
    width: 230px;
}


.price-product {
    color: rgba(70, 70, 70, 1);
    text-align: right;
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 16px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
}

.hidden-hover {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 360px;
    height: 380px;
    background-color: rgba(238, 238, 238, 0.5);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.hidden-hover a {
    display: block;
}

.product-item:hover .hidden-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.compared-to {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 13px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 36px;
    opacity: 0.5;
}

.compared-to:hover {
    opacity: 1;
}

.compared-to:active {
    opacity: 0.2;
}

.new-product::before {
    position: absolute;
    top: 30px;
    right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 56px;
    height: 56px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.1);
    content: "NEW";
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 900;
    font-size: 14px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.paging {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    margin-bottom: 76px;
    padding: 0 30px;
    min-height: 70px;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.08);
    list-style: none;

    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.paging a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 16px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
    opacity: 0.3;
}

.paging a:hover {
    opacity: 0.6;
}

.paging .active-page,
.back a,
.forward a,
.paging a:active,
.paging li:first-child,
.paging li:last-child {
    opacity: 1;
}

.paging li:first-child,
.paging li:last-child {
    min-width: 280px;
}

.back a,
.forward a {
    display: inline-block;
    vertical-align: middle;
    padding: 22px;
    height: 100%;
}

.back a {
    margin-left: -30px;
    padding-left: 30px;
}

.forward a {
    margin-right: -30px;
    padding-right: 30px;
}

.back a:hover,
.forward a:hover,
.back a:active,
.forward a:active {
    background-color: rgba(0, 0, 0, 0.08);
}

.back a:hover,
.forward a:hover {
    color: rgba(0, 0, 0, 1);
}

.back a:active,
.forward a:active {
    color: rgba(0, 0, 0, 0.3);
}


.forward {
    text-align: right;
}

/*-----------FOOTER-------*/
.page-footer {
    margin: 0 auto;
    min-width: 1160px;
}

.page-footer::before {
    position: absolute;
    left: 0;
    z-index: -1;
    min-width: 1200px;
    min-height: 323px;
    width: 100%;
    background-color: rgba(70, 70, 70, 1);
    content: "";
}

.footer-container-center {
    padding-top: 40px;
}

.footer-top,
.footer-middle,
.footer-bottom,
.social-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    width: 1160px;

    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.footer-top {
    min-height: 75px;
}

.footer-middle {
    min-height: 60px;
}

.footer-bottom {
    min-height: 130px;
}

.footer-logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 164px;
    height: 36px;
    font-weight: 900;

    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.footer-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    padding: 0;
    min-width: 360px;
    list-style: none;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.footer-nav li {
    min-width: 120px;
    text-align: end;
}

.footer-nav li.login {
    padding-right: 15px;
}

.footer-nav .user {
    padding-right: 78px;
}

.footer-nav .loginout {
    left: 175px;
    text-align: left;
}

.footer-nav a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
}

.footer-nav a {
    opacity: 0.7;
}

.footer-nav a:hover {
    opacity: 1;
}

.footer-nav a:active {
    opacity: 0.3;
}

.footer-nav img {
    margin-right: 10px;
}

.footer-nav-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    padding: 0;
    width: 440px;
    list-style: none;

    justify-content: space-around;
}

.footer-nav-item {
    padding-top: 5px;
    padding-left: 15px;
}

.nav-guarant {
    margin: auto;
}

.footer-nav-item a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 18px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
}

.footer-phone {
    width: 215px;
    text-align: right;

    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.footer-adress,
.footer-phone {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
}

.footer-phone {
    letter-spacing: 0.02em;
}

.footer-bottom::before {
    display: block;
    width: 80px;
    height: 7px;
    background: rgba(255, 198, 0, 1);
    content: "";
}

.social-items {
    /* opacity: 0.3;*/
    padding: 0;
    width: 140px;
    list-style: none;

    -ms-flex-line-pack: center;
    align-content: center;
}

.social-items a {
    opacity: 0.3;
}

.social-items a:hover {
    opacity: 0.6;
}

.social-items a:active {
    opacity: 0.1;
}


.link-htmlacademy {
    margin-left: 50px;
}

.link-htmlacademy:hover {
    opacity: 0.6;
}

.link-htmlacademy:active {
    opacity: 0.3;
}

/*-------ПУПАПЫ-----*/
.popup-writeus,
.popup-maps {
    display: none;
}

.popup-writeus.modal-show,
.popup-maps.modal-show {
    display: block;
}

.popup-writeus,
.popup-maps {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    margin-top: -277px;
    margin-left: -480px;
    width: 960px;
    height: 555px;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.close-popup,
.close-popup-writeus {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 55px;
    height: 55px;
    border: none;
    background-color: transparent;
    background-image: url(../img/modal-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.close-popup:hover,
.close-popup-writeus:hover {
    opacity: 1;
}

.close-popup:active,
.close-popup-writeus:active {
    opacity: 0.3;
}

.writeus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    padding: 100px;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.writeus-email,
.writeus-name,
.writeus-email input,
.writeus-name input {
    min-width: 320px;
}

.writeus input,
.writeus textarea {
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 15px 20px;
    outline: none;
    border: none;
    color: rgba(70, 70, 70, 0.4);
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 18px;
    resize: none;
    background-color: rgba(242, 242, 242, 1);
}

.writeus input:hover,
.writeus textarea:hover {
    background-color: rgba(234, 234, 234, 1);
}

.writeus input:focus,
.writeus textarea:focus {
    outline: 3px solid rgba(247, 226, 150, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(70, 70, 70, 1);
}

textarea.no-valid,
input.no-valid,
textarea:invalid,
input:invalid {
    outline: none;
    background-color: rgba(237, 181, 181, 0.5);
}

.writeus label {
    display: block;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.01em;
    font-weight: 900;
    font-size: 18px;
    font-family: "Gilroy", "Helvetica", sans-serif;
    line-height: 24px;
}

.writeus-message textarea {
    min-height: 125px;
    width: 720px;
}

.writeus-btn {
    margin-top: 20px;
    min-height: 40px;
    width: 200px;
    background: none;
}

.writeus-btn::before {
    top: 15px;
}

.writeus-btn:hover::before {
    height: 100%;
}

.popup-maps iframe {
    border: none;
}

.price {
    display: flex;
    justify-content: space-between;
}

/*----- анимации ----*/
#service1:checked ~ .services-items-info > .service-delivery,
#service2:checked ~ .services-items-info > .service-gaurante,
#service3:checked ~ .services-items-info > .service-credit {
    z-index: 1;
    display: block;
}

#slide1:checked ~ .main-slider-items > .slide1,
#slide2:checked ~ .main-slider-items > .slide2,
#slide3:checked ~ .main-slider-items > .slide3 {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-slider label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
    width: 12px;
    height: 12px;
    background: url(../img/slider-button.svg);
    background-origin: content-box;
    background-size: contain;
}
