/* ---ШРИФТЫ-----  */

@font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff'),
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 300;
    font-style: normal;
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff'),
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff'),
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff'),
}

/*-----ОБЩИЕ СТИЛИ----*/

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.allcontainer {
    padding: 0 20px;
    min-width: 1160px;
    max-width: 1160px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

/*---header----*/

.main-header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.main-header {
    height: 200px;
    padding: 1px 60px 43px;
    background-image: -webkit-linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
    background-image: -o-linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
    background-image: linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
}

.main-header ul {
    list-style: none;
    padding-left: 0;
}

.row-top,
.main-nav.navigation-list {
    position: relative;
    width: 1000px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.row-top a {
    font-size: 15px;
    line-height: 30px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    letter-spacing: 0.01em;
}

.row-top img {
    margin-right: 10px;
}

.main-nav {
    position: relative;
}


.search {
    width: 500px;
}

.row-top ul {
    width: 300px;
}

.user-login li {
    display: none;
}

.user-login li.active {
    display: block;
}

.head-right li {
    margin-left: 45px;
}

.compare-basket {
    display: flex;

}

/*---row-bottom---*/

.navigation-list .catalog,
.navigation-list > ul:last-child {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.nav-catalog-items {
    display: none;
    position: absolute;
    width: 1100px;
    height: 160px;
    padding-left: 60px;
    left: -60px;
    top: 40px;
    padding-top: 15px;
    z-index: 1;
    background-color: #f7e296;
}

/*.nav-catalog-items,*/

.catalog:hover ~ .nav-catalog-items,
.nav-catalog-items:hover {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-flow: row;
}

.main-header a:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.main-header a:active {
    opacity: 0.3;
    transition: 0.3s;
}

ul.catalog-items {
    width: 200px;
    font-size: 15px;
    line-height: 35px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.nav-delivery-items {
    display: flex;
    width: 600px;
}

.nav-delivery-items li:last-child {
    width: 260px;
}

/*--Слайдер пробуем анимировать-*/

.main-slider {
    background-image: -webkit-linear-gradient(#f7e296 120px, #fff 120px, #fff);
    background-image: -o-linear-gradient(#f7e296 120px, #fff 120px, #fff);
    background-image: linear-gradient(#f7e296 120px, #fff 120px, #fff);
    height: 550px;
    position: relative;
}

.main-slider > input {
    display: none;
}

.main-slider-items {
    padding: 0;
    margin: 0;
}

.main-slider-item {
    display: none;
    z-index: 0;

}

.slideleft {
    width: 540px;
    padding-left: 60px;
}

.slideright {
    width: 500px;
    align-items: flex-end;
}

.numeric {
    height: 55px;
    position: relative;
    padding-top: 45px;
}

.numeric::before {
    content: " ";
    width: 100px;
    height: 7px;
    background-color: #ffffff;
    display: block;
    float: left;
}

.numeric span {
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 179.2px;
    line-height: 179.2px;
    display: block;
    color: #ffffff;
    letter-spacing: 0.01em;
    position: absolute;
    right: 50px;
    top: -5px;
    z-index: 0;
}

.slideright b {
    font-size: 47px;
    line-height: 56px;
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    letter-spacing: 0.01em;
    display: block;
    position: relative;
}

.slideright p {
    font-size: 15px;
    line-height: 30px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: rgba(70, 70, 70, 1);
}

#slide1:checked ~ .main-slider-items > .slide1,
#slide2:checked ~ .main-slider-items > .slide2,
#slide3:checked ~ .main-slider-items > .slide3 {
    display: flex;
    z-index: 1;
}

.main-slider .controls {
    right: 20px;
    position: absolute;
    z-index: 10;
    top: 50%;
}

.main-slider label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    border-radius: 50%;
}

.main-slider label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
    background: #000000;
}

.main-slider label:after {
    border: 2px solid #000;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    border-radius: 50%;
}

/*-- Кнопка .btn--*/

.btn {
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    position: relative;
    z-index: 0;
    display: block;
    width: 50%;
    padding: 5% 0;
    text-align: center;
    text-decoration: none;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.btn:active {
    color: #be9c22
}

.btn::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 0;
    width: 100%;
    height: 10px;
    transition: all 0.1s;
    background-color: #f0c52e
}

.btn:hover::before,
.btn:focus::before {
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

/*-----таблица---*/

.specifications {
    border: none;
    width: 100%;
}

.specific-digits {
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
}

/*----------Популярные товары---*/

.popular-goods {
    height: 340px;
    position: relative;
    display: block;
}

.popular-goods-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.popular-goods-item {
    width: 160px;
    height: 340px;
    position: relative;
}

.bg-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 160px;
    background: rgba(240, 197, 46, 0.5);
    z-index: -1;
}

.popular-goods-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.popular-goods .popular-icon {
    display: block;
    position: relative;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    margin-bottom: 15px;
}

.popular-goods .popular-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
}

.popular-icon.virtual::after {
    background-image: url(../img/popular-1.svg);
}

.popular-icon.monopod::after {
    background-image: url(../img/popular-2.svg);
    top: 20px;
}

.popular-icon.camers::after {
    background-image: url(../img/popular-3.svg);
}

.popular-icon.fitness-bracelet::after {
    background-image: url(../img/popular-4.svg);
}

.popular-icon.smart-watch::after {
    background-image: url(../img/popular-5.svg);
}

.popular-icon.quadrupter::after {
    background-image: url(../img/popular-6.svg);
}

.link-goods:hover .popular-icon {
    background: rgba(240, 197, 46, 1);
}

.link-goods:active > div,
.link-goods:active > p {
    opacity: 0.3;
}

/*-- слайдер услуг--*/

.service-container-allweight {
    width: 100%;
    position: absolute;
    height: 400px;
    left: 0;
}

.service-container-allweight::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 288px;
    background: rgba(229, 229, 229, 1);
    left: 0px;
    z-index: -1;
    bottom: 0px;
}

.main-services {
    height: 400px;
    display: flex;
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.main-services > input {
    display: none;
}

.services-items-listing {
    width: 300px;
    border-right: 7px solid black;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 15px;
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 80px;
}

.services-items-listing label {
    height: 40px;
    width: 285px;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
}

.services-item-info {
    display: none;
}

#service1:checked ~ .services-items-info > .service-delivery,
#service2:checked ~ .services-items-info > .service-gaurante,
#service3:checked ~ .services-items-info > .service-credit {
    display: block;
    z-index: 1;
}

.main-services .controls {
    right: 20px;
    position: absolute;
    z-index: 10;
    top: 50%;
}

/*---------- partners--*/

.partner-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.partner-items li {
    align-self: center;
}

/*---------about-contact-----*/

.about-contact {
    display: flex;
}

.about-contact section::before {
    content: "";
    display: block;
    width: 80px;
    height: 7px;
    background: rgba(0, 0, 0, 1);
}

.about-contact section {
    width: 560px;
    align-items: baseline;
    justify-content: space-around;
}

.about-contact h2 {
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.1em;
}

.about-contact p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    color: rgba(70, 70, 70, 1);
    font-size: 15px;
    line-height: 30px;
}

.main-about p {
    width: 495px;
}

.main-about ul {
    list-style: none;
}

.main-about li::before {
    content: " ";
    position: relative;
    display: block;
    float: left;
    width: 5px;
    height: 5px;
    border: 3px solid #e5e5e5;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 10px;
}

.main-about li {
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.1em;
}



/*-----------FOOTER-------*/

.page-footer {
    width: 1160px;
    margin: 0 auto;
}

.page-footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 323px;
    background-color: rgba(70, 70, 70, 1);
    left: 0;
    z-index: -1;
}

.footer-top,
.footer-middle,
.footer-bottom,
.social-items {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    align-items: center;
}

.footer-top {
    min-height: 123px;
}

.footer-middle {
    min-height: 60px;
}

.footer-bottom {
    min-height: 140px;
}

.footer-nav {
    display: flex;
    width: 360px;
    list-style: none;
    margin-left: 550px;
    align-items: center;
}

.footer-nav li {
    width: 120px;
}

.footer-nav a {
    text-decoration: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.1em;
}

.footer-nav img {
    margin-right: 10px;
}

.footer-nav-service {
    display: flex;
    width: 440px;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.footer-nav-item a {
    text-decoration: none;
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.footer-phone {
    align-content: flex-end;
}

.footer-adress,
.footer-phone {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    line-height: 30px;
}

.footer-bottom::before {
    content: "";
    display: block;
    width: 80px;
    height: 7px;
    background: rgba(255, 198, 0, 1);
}

.social-items {
    width: 150px;
    list-style: none;
    align-content: center;
    opacity: 0.3;
}

/*-------ПУПАПЫ-----*/

.popup-writeus {
    display: none;
    position: absolute;
    left: 20%;
    top: 1600px;
    margin: 0 auto;
    z-index: 99;
    width: 960px;
    height: 555px;
    background-color: rgba(255, 255, 255, 1);
}

.close-popup {
    display: none;
    height: 20px;
    width: 20px;
    background-color: black;
    position: absolute;
    top: 20px;
    right: 20px;
}

.writeus {
    display: flex;
    padding: 30px;
    margin: auto;
}

.writeus label {
    display: inline-block;
    width: 300px;
    font-family: 'Gilroy', 'Helvetica', sans-serif;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-left: 100px;
    width: 50%;
}
